{% extends 'app/base.html' %}
{% load static %}
{% block title %}Forget Password{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Forget Password</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for fm in form %}
    {{fm.label_tag}}  {{fm}} 
    <p class="text-danger">{{fm.errors|striptags}}</p>
    {% endfor %}
    <br>
    <input type="submit" value="Submit" class="btn btn-success">
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}